<mat-toolbar color="primary">
    <span>Flux Gate Console</span>
    <span class="mgL40"></span>
    <button mat-raised-button [color]="activeTab == 1 ? '' : 'primary'" (click)="handleTabSelection(1)">
      <span>
        URL Config
      </span>
    </button>
    <span class="mgL40"></span>
    <button mat-raised-button [color]="activeTab == 2 ? '' : 'primary'" (click)="handleTabSelection(2)">
      <span>
        API Config
      </span>
    </button>
    <span class="mgL40"></span>
    <button mat-raised-button [color]="activeTab == 3 ? '' : 'primary'" (click)="handleTabSelection(3)">
      <span>
        Upstream Config
      </span>
    </button>
    <span class="mgL40"></span>
    <button mat-raised-button [color]="activeTab == 4 ? '' : 'primary'" (click)="handleTabSelection(4)">
      <span>
        Default Config
      </span>
    </button>
    <span class="spacer"></span>
    <div style="color:white">
      <mat-slide-toggle (change)="handleConfigModule($event)"></mat-slide-toggle> 
      <span style="font-size: small;">
        Current Openresty Config
      </span>
    </div>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <div class="user-info">
      <mat-icon>account_circle</mat-icon>
      <span class="username">{{userName}}</span>
    </div>
  </mat-toolbar>
  
  <ng-container *ngIf="configLoaded; else configLoading">
    <ng-container *ngIf="activeTab == 1">
      <url-config></url-config>
    </ng-container>
    <ng-container *ngIf="activeTab == 2">
      <api-config></api-config>
    </ng-container>
    <ng-container *ngIf="activeTab == 3">
      <upstream-config></upstream-config>
    </ng-container>
    <ng-container *ngIf="activeTab == 4">
      <default-config></default-config>
    </ng-container>
  </ng-container>
  <ng-template #configLoading>
    <div style="display: flex; flex-direction: column; align-items: center;justify-content: center;margin-top: 20%;">
      <mat-spinner diameter="60"></mat-spinner>
    </div>
  </ng-template>